<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="jdbcEmployeeDao"
		class="com.targetindia.dao.JdbcEmployeeDao">
		<property name="dataSource" ref="ds" />
	</bean>

	<bean id="ds" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/target_db" />
		<property name="username" value="root" />
		<property name="password" value="Welcome#123" />
	</bean>

</beans>